.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 166, 57);
  text-decoration: none;
  border: 1px solid rgb(255, 166, 57);
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
}

.nav-item2 {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 1px solid rgb(255, 166, 57);
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
}

.nav-item:hover {
  color: #0056b3;
  border-color: #0056b3;
}

/* Recipe Card */
.posts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.post-item h3 {
  margin: 0 0 10px;
  color: rgb(255, 166, 57);
}

.post-item p {
  margin: 0;
  color: #333;
}
