/* LoginPage.css */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
  background-color: #f9f9f9; /* 배경색 */
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* 입력 필드 너비 */
}

button {
  padding: 10px;
  background-color: rgb(255, 166, 57); /* 버튼 배경색 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* 버튼 호버 색상 */
}

.error-message {
  color: red;
  margin-top: 10px;
}
